#header {
    background-color: green;
    font-family: 'Rye', cursive;
        }

#footer {
    background-color: green;}

#links {background-color: gold}

body {
    background-color:tan;
        }

a {
    font-family: monospace;
    text-decoration: none;
    font-weight: none;
    font-size: 20px;
    margin: 20px;
    nav: nav-pills;
}

a:link {
    color:blue;
}

a:visited {
    color:red;
}

a:hover {
    font-weight: bold;
}

caption {
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    color: black;
    text-align: center;
}

h2, h3, h5 {
    text-align: center;
}

.carousel-inner {
    margin-top: 1%;
    margin-bottom: 1%;
}


